// Color Palette (SCSS)

// Neutral
$neutral-900: #121212;
$neutral-800: #2A2A2A;
$neutral-700: #414141;
$neutral-600: #595959;
$neutral-500: #808080;
$neutral-400: #A0A0A0;
$neutral-300: #B8B8B8;
$neutral-200: #D0D0D0;
$neutral-100: #E7E7E7;
$neutral-50:  #EEEEEE;
$neutral-0:   #FFFFFF;

// Text
$text-900: #121212;
$text-800: #2A2A2A;
$text-700: #414141;
$text-600: #595959;
$text-500: #808080;
$text-400: #A0A0A0;
$text-300: #B8B8B8;
$text-200: #D0D0D0;
$text-100: #E7E7E7;
$text-50:  #EEEEEE;
$text-0:   #FFFFFF;

// Primary
$primary-900: #00331E;
$primary-800: #005733;
$primary-700: #00804A;
$primary-600: #009E5C;
$primary-500: #00D17A;
$primary-400: #03FF94;
$primary-300: #6AFFC1;
$primary-200: #99FFD5;
$primary-100: #C2FFE5;
$primary-50:  #EBFFF7;

// Secondary
$secondary-900: #002433;
$secondary-800: #004766;
$secondary-700: #006B99;
$secondary-600: #008FCC;
$secondary-500: #00B2FF;
$secondary-400: #35C2FF;
$secondary-300: #66D0FF;
$secondary-200: #99E1FF;
$secondary-100: #CCF0FF;
$secondary-50:  #E5F7FF;

// bkg
$background-2: #1f1f1f;